# build directories
build
build_debug
build_odroid
build_open

# Bootstrap Stuff
# sandbox
infrastructure/sbx
infrastructure/software

# python venv
.vpython

# develop directory (for LMCP and OpenAMASE repos)
develop

# generated LMCP messages
src/cpp/LMCP


# afrl internal directories
UxAS-afrl_internal

# generated documentation
doc/LMCP
doc/doxygen/html
doc/doxygen/latex
doc/reference/UserManual/UxAS_UserManual.aux
doc/reference/UserManual/UxAS_UserManual.lof
doc/reference/UserManual/UxAS_UserManual.log
doc/reference/UserManual/UxAS_UserManual.out
doc/reference/UserManual/UxAS_UserManual.pdf
doc/reference/UserManual/UxAS_UserManual.toc

# generated LMCP source code
src/LMCP

# test output
tests/**/output/**

# example output
examples/**/log/**
examples/**/datawork/**

# Mac OS X file system
**.DS_Store
/UxAS-afrl_internal/

# Visual Studio
.vscode

# Ignore pyc files
*.pyc
__pycache__
.mypy_cache
.coverage
.tox

# Ignore build directories
/prerequisites/sbx
/prerequisites/sbx-env
/prerequisites/vpython

#Ignore unnecessary session files
src/ada/proof/sessions/*/*.xml.bak
src/ada/proof/sessions/*/*.gz
src/ada/proof/sessions/*/*.gz.bak

# object files
obj
objs
uxas-ada

# testsuite results
tests/cpp/log
tests/cpp/results
tests/proof/out