# Global variables
language: python

python:
    - "3.7"
env:
  global:
    - TOOLS_DIR=$HOME/build_tools
    - INSTALL_DIR=$HOME/build_tools/install
    - CMAKE_BUILD_PARALLEL_LEVEL=1
    - GNAT_INSTALLER=$TOOLS_DIR/gnat-community-installer
    - GNAT_LINUX_INSTALLER_URL=https://community.download.adacore.com/v1/4d99b7b2f212c8efdab2ba8ede474bb9fa15888d?filename=gnat-2020-20200429-x86_64-linux-bin
os:
  - linux
dist:
  - bionic
git:
  submodules: false

# Cache directory that allows us to not download GNAT GPL every time, speeding
# up the process.
cache:
  directories:
    - $HOME/build_tools

before_install:
  - sudo apt-get update
  - sudo apt-get install -y cmake
  - sudo apt-get install -y pkg-config
  - sudo apt-get install -y uuid-dev

install:
  - export PATH=$INSTALL_DIR/bin:$PATH
  - sh .travis-install.sh

script:
  # Build uxas
  - $TOOLS_DIR/OpenUxAS-bootstrap/anod build uxas
  - $TOOLS_DIR/OpenUxAS-bootstrap/anod build uxas-ada
  - $TOOLS_DIR/OpenUxAS-bootstrap/anod build uxas --qualifier=scenario=gcov
  - $TOOLS_DIR/OpenUxAS-bootstrap/anod build uxas-ada --qualifier=gcov
  - eval "$( $TOOLS_DIR/OpenUxAS-bootstrap/anod printenv uxas --qualifier=scenario=gcov)"
  - testsuite/run-tests
  - eval "$( $TOOLS_DIR/OpenUxAS-bootstrap/anod printenv uxas-ada --build-env)"
  - travis_wait 50 ./ada/arv-demo/testsuite/run-tests -E --timeout=1200
