on:
    push:
        paths:
            - 'infrastructure/uxas/**'
            - 'infrastructure/paths.sh'
            - 'infrastructure/specs/**'
            - 'infrastructure/run_example.py'
            - 'anod'
            - 'src/cpp/**'
            - 'run-example'
    pull_request:
        paths:
            - 'infrastructure/uxas/**'
            - 'infrastructure/paths.sh'
            - 'infrastructure/specs/**'
            - 'infrastructure/run_example.py'
            - 'anod'
            - 'src/cpp/**'
            - 'run-example'
    workflow_dispatch:
    schedule:
        - cron: '20 3 * * 4'

name: Test run-example
jobs:
    build:
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-18.04, ubuntu-20.04, ubuntu-22.04]
                python-version: [3.7, 3.8]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v2
              with:
                  path: OpenUxAS

            - name: Set up python ${{ matrix.python-version }}
              uses: actions/setup-python@v2
              with:
                  python-version: ${{ matrix.python-version }}

            - name: Set up java
              uses: actions/setup-java@v1
              with:
                  java-version: '11'

            - name: Install infrastructure
              run: |
                  cd OpenUxAS
                  infrastructure/install -vv --no-gnat --no-java -y

            - name: Build OpenUxAS C++
              run: |
                  cd OpenUxAS
                  ./anod -v build uxas

            - name: Build OpenAMASE
              run: |
                  cd OpenUxAS
                  ./anod -v build amase

            - name: Test run-example
              run: |
                  cd OpenUxAS
                  ./run-example 01_HelloWorld
